@using System.Security.Claims
@inherits LayoutComponentBase

<style>
    .navbar {
        background-color: #0e2d3a;
    }

    .navbar-brand img {
        height: 100%;
        object-fit: contain;
    }

    .navbar-brand {
        padding: 0;
        height: 56px; /* default Bootstrap navbar height */
    }
</style>

<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg py-0 my-0">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <span class="ms-2 text-white">Speedrun Race Dashboard</span>
            </a>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/streamsettings">Stream Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  href="/streamprofiles">Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/streamslots">Slots</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" target="_blank" href="/dashobs">OBS View</a>
                    </li>

                </ul>
                
            </div>
        </div>
    </nav>

    <MatchTicker />


    <main class="container mt-4">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
}

